*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.click-btn{

  
}


.close-btn{
    background-color: crimson;
 



}

.btn{
    color: white;
    padding: 13px 18px;
    text-align: center;
    text-decoration: none;
}


.content{
    background-color: blueviolet;
    color: white;

    width: 400px;
    height: 150px;
    /* margin-left: 100px;
    margin-right: 70px;
    margin-top: 136px;
    margin-bottom: 300px; */

    /* margin: 136px 70px 300px 100px; */

    /* margin: 100px 80px; */
   padding: 20px 60px;

    border: 20px solid aquamarine;
    box-sizing: border-box;
} 

#subBtn{
    background-color: lightgreen;
}



.main-head{
    background-color: brown;
    text-align: center;
    color: white;
    width: 300px;
    height: 200px;
 
    
}

.sub-btn {

    margin-bottom: 100px;
    background-color: aquamarine;
}